

@font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-Regular.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Red Hat Display bold';
    src: url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


{
    box-sizing: border-box;
}
ul{
	padding:0
}

ul li{
	list-style: none;
}
img{
	max-width: 100%;height:auto;outline: none;
}
a{
	text-decoration: none;
}

body{
	margin: 0px !important;
	font-family: 'Red Hat Display';
}
:focus{
	outline: none !important;
}

/*Start Utilities*/
.w-5{
	width:5%;
}
.w-10{
	width:10%;
}
.w-15{
	width:15%;
}
.w-20{
	width:20%;
}
.w-30{
	width:30%;
}
.w-35{
	width:35%;
}
.w-40{
	width:40%;
}
.w-45{
	width:45%;
}
.w-55{
	width:55%;
}
.w-60{
	width:60%;
}
.w-65{
	width:65%;
}
.w-70{
	width:70%;
}
.w-80{
	width:80%;
}
.w-85{
	width:85%;
}
.w-90{
	width:90%;
}
.text-size-11{
    font-size:11px !important;
}
.text-size-12{
	font-size:12px !important;
}
.text-size-13{
	font-size:13px;
}
.text-size-14{
	font-size:14px;
}
.text-size-15{
	font-size:15px;
}
.text-size-16{
	font-size:16px;
}
.text-size-17{
	font-size:17px;
}
.text-size-18{
	font-size:18px !important;
}
.text-size-20{
	font-size:20px !important;
}
.text-size-22{
	font-size:22px !important;
}
.text-size-25{
	font-size:25px !important;
}
.text-gold{
	color:#B59E5C;
}
.text-black{
	color:#000;
}
.bg-gold{
	background-color: #B59E5C;
}
.hair-saloon-btn{
	padding: 8px 37px;
}
.input-bg{
	background-color: #777777;
}
.h-50{
	height:50px !important;
}
.h-45{
    height:45px !important;
}
.h-37{
	height:37px !important;
}
.box-radius{
	border-radius:5px;
}
.border-radius{
	border-radius:10px;
}
.color-date{
	color:#777777;
}
.bg-slide-address{
	background-color:#282828;
}
.sign-color{
    color:#F12B2B;
}
.border-sign-bottom{
    border-bottom:1px solid #777777;
}
/*End Utilities*/
.hair-saloon-bg-image
{background: url(../images/hair-saloon-bg-image.svg) no-repeat left;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:100%;
}
  
.login-signup a{
font-family: 'Red Hat Display';
}
.login-signup a:hover, .bussiness-btn a{
text-decoration:none;
}

.bussiness-btn a{
	border-radius:5px;
}

.banner-heading h1{
	margin-top:5rem;
	 font-family: 'Poppins';
}
.banner-heading h1 span{
	border-bottom:3px solid #B59E5C; 
}

.input-services .form-control:focus{
background:0;
box-shadow:none;
}
.input-services input::placeholder{
	color:#fff !important;
}
.input-services a{
top: 13px;
    left: 18px;
}
.input-services input{
border-radius:45px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border-right: 1px solid #D1D1D1 !important;
opacity: 0.7;
}
.input-services-2 input{
	border-radius:45px;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border:0 !important;
    opacity: 0.7;
}
.input-services .location-icon{
	top: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: 84%;
}
.main-service-input{
	border-radius:45px;
	margin:40px auto;
	border: 4px solid rgb(181 158 92 / 0.6);
}

.appointment-box a:hover{
	color:#000;
	text-decoration:none;
}
.confirm-btn a{
	background-color: #24DF4D;
    padding: 2px 13px;
}

.hair-saloon-categories li{
	margin-right:36px;
}
.hair-saloon-categories li .more-btn:hover{
	background-color:#B59E5C;
}
.bg-hair-saloon-address p{
	margin: 13px 0 0px 0;
}
.bg-hair-saloon-address a:hover{
    color:#B59E5C;
}
.hair-saloon-categories li a{
	z-index:1;
}
.hair-saloon-categories li a:hover:before {
    display: block;
    content: '';
    background-color:#B59E5C;;
    width: 62px;
    height: 25px;
    bottom: 0;
    right: 0;
    z-index: -1;
    left:0;
    top:7px;
    position: absolute;
}
.reviews-text{
	background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0px;
    text-align: center;
    width: 80px;
    height: 45px;
}

.hair-saloon-slider .next-icon{
	background-color:#B59E5C;
    width: 50px;
    height: 40px;
    display: inline-block;
    top: 48%;
    position: absolute;
    right: -42px;
}
.hair-saloon-slider .next-icon:before{
	font-family: FontAwesome !important;
    content: "\f061  " !important;
    color: #fff !important;
    font-size: 25px !important;
    top: 0px;
    position: absolute;
    right: 9px;
}

.hair-saloon-slider .prev-icon{
	background-color:#B59E5C;
    width: 50px;
    height: 40px;
    display: inline-block;
    top: 48%;
    position: absolute;
    left: -42px;
}
.hair-saloon-slider .prev-icon:after{
	font-family: FontAwesome !important;
    content: "\f060 " !important;
    color: #fff !important;
    font-size: 25px !important;
    top:0px;
    position: absolute;
    left: 8px;
}
.bg-gradient{
  background: linear-gradient(0deg, rgba(234,223,198,0.9812967423297444) 1%, rgba(255,255,255,1) 55%);


}

.logo-image{
	margin-top:14rem;
}
.logo-image p{
	letter-spacing:2px;
}
.logo-image span{
	letter-spacing:4px;
	border-bottom: 2px solid #B59E5C;
}
.input-number input:focus, .input-email input:focus{
box-shadow: none;
}
.bg-beauty-image{
	margin-top:10rem;
}
/*.sign-modal-heading h5{
	border-bottom: 2px solid #777;
}*/
.note-member-signup a{
    color:#F12B2B;
}
.forgot-password a{
    border: 1px solid #777777;
    border-radius: 30px;
}
.forgot-password a:hover{
    color: #777777;
}
.form-control:focus{
    box-shadow: none;
}
.social-icon-btn .facebook-btn{
background-color:#506AC5;
}
.social-icon-btn .gmail-btn{
background-color:#F12B2B;
}
/*.privacy-policy span{
	border-bottom:1px solid #777777;
}*/
.cross-btn span{
	width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 14px;
}

.input-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.blog-categories a:hover:before {
    display: block;
    content: '';
    width: 91px;
    height: 25px;
    bottom: 0;
    right: 0;
    z-index: -1;
    left: 14px;
    top: 15px;
    position: absolute;
    border-bottom: 5px solid #b59e5c;
}
.service-box{
    border-radius:8px;
}
.looking-services input{
    font-size:12px;
    background-color:#EEEEEE;
}

.popular-service span{
    font-size:14px;
}
.hair-cut a{
    border-radius: 16px;
    border: 1px solid #ebebeb;
    padding: 5px;
    display: flex;
    justify-content: center;
    float: left;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.11);

}
.hair-cut a:hover{
    color: #777777;
}
.city-location a:hover, .current-location a:hover{
    color:#777777;
}
.search-btn a{
    padding: 4px 65px;
    border-radius: 20px;
}
.dropdown-menu a {
    min-width:15%;
}
.current-location a{
    font-size: 14px;
}
.search-near-btn a{
    font-size: 14px;
    background-color: #B59E5C;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
}
.city-location a{
    font-size:14px;
}
.categories-menu, .location-menu{
width:100%;
}
.heading-home-service a{
    padding:4px 38px;
}